<div class="container" position="relative" width="100%" height="100%">
    <div class="top-nav">
        <div top-nav-bar></div>
    </div>
    <div position="relative" width="100%" height="100%">
        <side-bar hide-options="['Followed Channels']" class="side-bar"></side-bar>
    </div>
    <div ng-show="bookmarks.length" class="main-content" ng-controller="BookmarkController">
        <div class="bookmark-card non-selectable" ng-repeat="bookmark in bookmarks" ng-style="bookmark.banner && { 'background-image': 'url(' + bookmark.banner + ')' }">
            <div class="bookmark-image" ng-style="bookmark.image && { 'background-image': 'url(' + bookmark.image + ')' }"></div>
            <div class="name-tag">
                <span>{{ bookmark.streamer_name }}</span>
            </div>
            <div class="follow-button followed" ng-click="unfollow(bookmark)">unfollow</div>
        </div>
    </div>
</div>
