<div class="container" position="relative" width="100%" height="100%">
    <div class="top-nav">
        <div top-nav-bar></div>
    </div>
    <div position="relative" width="100%" height="100%">
        <side-bar class="side-bar"></side-bar>
        <div class="main-content" ng-controller="GameListController">
            <div class="game-card non-selectable" ng-repeat="game in games" ng-click="getChannels(game)">
                <div class="game-image" ng-style="game.image && { 'background-image': 'url(' + game.image + ')' }"></div>
                <div class="name-tag">
                    <span>{{ game.name | capitalize: ['the', 'of'] }}</span>
                    <span class="view-count">{{ game.view_count }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
