.channel-container {

    padding: 0.5% 0 0 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.channel-container .game-cover {

    width: 100vw;
    height: 27vh;
    margin: 2.5vh 0 3.5vh 0.2vh;
    position: relative;
    flex-basis: 100%;
}

.channel-container game-card {

    left: 0;
    width: 12vw;
    height: 24.5vh;
    margin: 0;
    position: absolute;
}

.channel-container game-card .game-card-container:hover {

    cursor: initial;
    -webkit-box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 0.75);
}

.channel-container game-card .game-image {

    height: 100%;
    background-size: cover;
}

.channel-container game-card .game-details {

    display: none;
}

.channel-container .game-details {

    top: 10.5%;
    left: 15.5%;
    position: absolute;
    color: black;
}

.channel-container .game-title {

    font-size: 2.3em;
    font-weight: 700;
}

.channel-container .game-view-counts {

    padding: 4px 12px 4px 12px;
    display: inline-block;
    text-align: center;
    font-size: 0.85em;
    color: white;
    background-color: rgb(19, 104, 231);
    border-radius: 5px;
}

channel-card.ng-enter {

    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

channel-card.ng-enter-active {

    opacity: 1;
}
