@mixin setBoxShadow($spreads, $color) {

    -webkit-box-shadow: #{ $spreads } $color;
    -moz-box-shadow: #{ $spreads } $color;
    box-shadow: #{ $spreads } $color;
}

.channel-card-container {

    width: 16vw;
    height: 24vh;
    padding: 0;
    margin: 0.5vh 1vw 1.5vw 0;
    overflow: hidden;
    position: relative;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 6px;
    @include setBoxShadow('2px 3px 12px 1px', rgba(0, 0, 0, 0.75));

    .stream-thumbnail {

        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 0;
        position: absolute;
    }

    .stream-thumbnail:hover {

        cursor: pointer;
    }

    .channel-image {

        $corner-distance: 6px;
        $image-width: 2.5vw;

        left: $corner-distance;
        bottom: $corner-distance;
        width: $image-width;
        height: $image-width;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: aliceblue;
        border-radius: 5px;
    }

    .channel-details {

        left: 2.8vw;
        bottom: 0;
        width: 13vw;
        height: 24%;
        position: absolute;
        font-size: 0.85em;
    }

    .channel-details span {

        left: 11px;
        width: 90%;
        position: absolute;
        display: block;
        font-size: 1.1em;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-counts {

        top: 5px;
        left: 10px;
        z-index: 1;
        position: absolute;
        display: block;
        font-size: 1.2em;
        font-weight: 600;
        color: tomato;
    }

    .view-counts:before {

        content: "";
        width: 16px;
        height: 15px;
        float: left;
        margin: 3px 3px 0 0;
        display: block;
        background: url(https://au.kg/images/eye.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .channel-follow-button {

        right: 2px;
        bottom: 5px;
        width: 4vw;
        height: 1.5vw;
        z-index: 2;
        position: absolute;
        display: none;
        font-size: 1.05em;
        font-weight: 600;
        line-height: 1.5vw;
        text-align: center;
        background-color: rgb(112, 77, 177);
        border-radius: 3px;
    }

    .channel-follow-button:hover {

        cursor: pointer;
        color: white;
    }

    .channel-followed {

        background-color: rgb(177, 36, 18);
    }

    .channel-followed:hover {

        background-color: rgb(216, 49, 27);
    }

    .channel-unfollowed:hover {

        background-color: rgb(137, 90, 223);
    }
}

.channel-card-container:hover {

    color: rgb(180, 180, 180);
    @include setBoxShadow('2px 3px 12px 2px', rgba(0, 0, 0, 0.85));

    .channel-follow-button {

        display: block;
    }
}
