.sidebar-badge-container {

    .large-font {

        font-size: 1.1em;
    }

    .view-all {

        top: 3px;
        right: 15px;
        position: absolute;
        font-weight: 600;
        font-size: 0.85em;
        text-decoration: none;
        color: rgb(202, 202, 202);
    }

    .view-all:hover {

        color: lightskyblue;
    }
}
