@mixin easeInOutTransition($time) {

    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

.search-box-container {

    width: 100%;
    height: 100%;

    .search-box {

        width: calc(100% - 39px);
        padding: 6px 8px 6px 29px;
        font-size: 0.75em;
        outline: none;
        background-image: url('https://ya-webdesign.com/images/search-svg-13.png');
        background-position: left center;
        background-size: 28px 28px;
        background-repeat: no-repeat;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 5px;
        @include easeInOutTransition(0.30s);
    }

    .search-box:focus {

        border: 1px solid rgb(129, 90, 202);
        box-shadow: 0 0 5px rgba(129, 90, 202, 0.699);
    }
}
