.featured-channel-container {

    padding: 10vh 0 0 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

channel-card.ng-enter {

    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

channel-card.ng-enter-active {

    opacity: 1;
}
