<div class="view-history-container non-selectable">
    <div class="clear-view-history-button"
        ng-show="$ctrl.histories.length"
        ng-click="$ctrl.confirmClearHistories($event)">Clear History
    </div>

    <span class="empty-view-history-message"
        ng-hide="$ctrl.histories.length">This place is so quiet...
    </span>

    <view-history-card
        ng-repeat="history in $ctrl.histories"
        is-static-thumbnail="$ctrl.isStaticImage(history.thumbnail)"
        on-channel-navigation="$ctrl.toChannelsView(history.game_id)"
        on-delete="$ctrl.deleteHistory(history)"
        view-history="history">
    </view-history-card>
</div>
