<style>
    #wrapper {
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #wrapper ul {

        margin: 0;
        padding: 0;
    }

    #wrapper ul > li {

        color: rgb(180, 180, 180);
        text-align: left;
        font-size: 0.88em;
    }

    .option-wrapper {

        position: relative;
    }

    .view-all {
        display: block;
        position: absolute;
        top: 3px;
        right: 15px;
        font-size: 0.75em;
        color: rgb(202, 202, 202);
        text-decoration: none;
    }
    .view-all:hover {
        color: lightskyblue;
    }
    #followed-streamer-name {
        font-size: 1.05em;
    }
</style>

<div id="wrapper" class="non-selectable">
    <div class="option-wrapper" ng-repeat="option in options">
        <ul ng-show="!hideOptions || !hideOptions.includes(option)" class="side-bar-option">
            <li>{{ option }}</li>
            <div class="channel-badge" ng-show="option === 'Followed Channels'" badge="badge" ng-repeat="badge in badges.get(option)">
                <div class="avatar" ng-style=" badge.image && { 'background-image': 'url(' + badge.image + ')' }"></div>
                <div class="badge-info">
                    <span id="followed-streamer-name">{{ badge.streamer_name }}</span>
                </div>
            </div>
            <channel-badge ng-show="option !== 'Followed Channels'" badge="badge" ng-repeat="badge in badges.get(option)"></channel-badge>
            <a ui-sref="{{ targetRoutes[$index] }}" class="view-all" ng-show="badges.get(option).length">View All</a>
        </ul>
    </div>
</div>
