.user-login-container {

    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0.9em;
    color: white;
    background-color: rgb(76, 48, 129);

    .login-button {

        $button-height: 3.5vh;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 75%;
        height: $button-height;
        margin: auto;
        position: absolute;
        line-height: $button-height;
        text-align: center;
        background-color: rgb(99, 63, 167);
        border-radius: 6px;
    }

    .login-button:hover {

        cursor: pointer;
        background-color: rgb(129, 90, 202);
    }

    user-widget {

        right: 0;
        bottom: 0;
        width: 11.5vw;
        height: 100%;
        position: absolute;
    }
}
