.clear-histories-dialog-container {

    .title {

        text-align: center;
        font-weight: 600;
    }

    .content {

        text-align: center;
        color: red;
    }

    .buttons {

        justify-content: flex-end;
    }
}
