.top-navbar-container {

    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(76, 48, 129);
}

.top-navbar-container .site-logo {

    height: 80%;
    margin: 5px 0 0 10px;
    position: absolute;
}
