@mixin easeInOutTransition($time) {

    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

.login-panel-container {

    $content-width: 88%;

    width: 22vw;
    height: 42vh;
    background-color: white;
    border-radius: 4px;

    .header, .content {

        margin: 0 auto;
        text-align: center;
    }

    .header {

        width: 85%;
        margin-top: 10%;
        font-size: 0.65em;
    }

    .error-message {

        color: tomato;
    }

    .hide {

        display: none;
    }

    .content {

        width: $content-width;
        padding-top: 5%;
        margin-top: 10%;
        margin-bottom: 9%;
        text-align: left;
        font-size: 0.75em;
        border-top: 1px solid rgb(185, 184, 184);
    }

    .content label {

        font-weight: 700;
    }

    .content input {

        width: 100%;
        margin-top: 7px;
        margin-bottom: 20px;
        padding: 6px 8px;
        display: inline-block;
        outline: none;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 5px;
        @include easeInOutTransition(0.30s);
    }

    .content input:focus {

        border: 1px solid rgb(129, 90, 202);
        box-shadow: 0 0 5px rgba(129, 90, 202, 0.699);
    }

    .button {

        $button-height: 3vh;

        width: $content-width;
        height: $button-height;
        margin: 15px auto;
        line-height: $button-height;
        text-align: center;
        font-size: 0.75em;
        color: white;
        background-color: rgb(99, 63, 167);
        border-radius: 4px;
    }

    .button:hover {

        cursor: pointer;
        background-color: rgb(129, 90, 202);
    }
}
