<div class="login-panel-container non-selectable"
    ng-keyup="$ctrl.onKeyup($event)">
    <div class="header">
        <h2>User Log In</h2>
    </div>

    <div class="content">
        <span class="error-message"
            ng-class="{ hide: $ctrl.noError }">* Invalid credentials. Please try again.
        </span></br></br>

        <label>Username</label></br>
        <input ng-model="$ctrl.username"></br>

        <label>Password</label></br>
        <input type="password" ng-model="$ctrl.password"></br>
    </div>

    <div class="button" ng-click="$ctrl.onLogin()">Log In</div>
</div>
