<div class="user-login-dialog-container non-selectable"
    (keyup)="onKeyup($event)">
    <div class="header">
        <h2>User Log In</h2>
    </div>

    <div class="content">
        <span class="error-message"
            [ngClass]="{ 'hide': noError }">* Invalid credentials. Please try again.
        </span><br><br>

        <label>Username</label><br>
        <input [(ngModel)]="username"><br>

        <label>Password</label><br>
        <input type="password" [(ngModel)]="password"><br>
    </div>

    <div class="button" (click)="onLogin()">Log In</div>
</div>
